*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:focus{
  outline-color: orange;
  outline-offset: 3px;
  outline-width: 2px;
  outline-style: dotted;
  color: orange;
  padding-bottom: 5px;
  border-bottom: 2px solid blue;
}
.container{
  width: 100%;
  max-width: 1440px;
  background-color: #ffffff;
  border-top: 5px solid #ff7500;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/Oval.png");
  background-size: 600px 600px;
  background-position: 860px 450px;
  background-repeat: no-repeat;
}
.result_box {
  width: 1183px;
  margin-left: auto;
  margin-right: auto;
}
.header{
  width: 100%;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header nav ul {
  width: 862px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.header nav ul li{
  list-style: none;
}
.header nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.header nav ul li a:hover{
  color: orange;
  padding-bottom: 5px;
  border-bottom: 2px solid blue;
}
.main_link{
  width: 111px;
  height: 42px;
  border: 1px solid blue;
  border-radius: 8px;
  padding: 5px 15px 5px 15px;
  transition: opacity ease 2s;
}
.main_link:hover{
  color: white;
}

/* apply_to_study section */
.apply_to_study{
  width: 100%;
  height: 565px;
  margin-top: 127px;
  display: flex;
  justify-content: space-between;
}
.blueword{
  color: #717CFF;
}
.section_study_title {
  font-size: 58px;
  font-weight: bold;
  margin: 0;
  margin-top: 24px;

}
.section_study_description {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.586);
  padding-top: 15px;
}
.apply_online_button {
  width: 262px;
  height: 64px;
  margin-top: 42px;
  border-radius: 8px;
  background-color: #717CFF;
  font-size: 23px;
  color: #ffffff;
  background-image: url("../img/arrow_forward_24px.svg");
  background-size: 28px, 26px;
  background-repeat: no-repeat;
  background-position: 220px;
  cursor: pointer;
}
.apply_online_button:hover{
  opacity: 0.8;
}
.apply_to_study_socials {
  width: 113px;
  height: 31px;
  margin-top: 101px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.apply_to_study_socials li{
  list-style: none;
}

/* Universitys section  */

.featureduniversities {
  width: 1313px;
  height: 423px;
  background-color: #FAFAFA;
}
.universities{
  width: 1196px;
  height: 80px;
}
.universitiestitle{
  font-size: 30px;
  padding-top: 55px;
  padding-bottom: 85px;
  text-transform: uppercase;
  margin-left: 410px;
  color: #00000077;
}
.universities ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.universities ul li{
  list-style: none;
}
.univercitiesbottomcircle{
  width: 107px;
  height: 14px;
  margin-top: 106px;
  margin-left: 530px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.univercitiesbottomcircle li{
  width: 10px;
  height: 10px;
  border: 1px solid #00000077;
  border-radius: 50%;
  list-style: none;
}
.univercitiesbottomcircle li:hover{
  background-color: #717CFF;
  border: 1px solid #717CFF;
  cursor: pointer;
}
.univercitiesbottomcircle li:active{
  opacity: 0.5;
}

/* Our services  */

.ourservices{
  width: 100%;
  margin-top: 122px;
  border: 1px solid #0000001f;
}
.Servicestitle {
  text-align: center;
  font-size: 36px;
  padding-bottom: 18px;
}
.Servicesparagraf {
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 110px;
  color: rgba(0, 0, 0, 0.521);
}
.services {
  width: 100%;
  height: 752px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

}
.servicesbox {
  width: 344px;
  height: 351px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}